$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?828bd846528fa609721f2b5e1887f1b8") format("truetype"),
url("./flaticon.woff?828bd846528fa609721f2b5e1887f1b8") format("woff"),
url("./flaticon.woff2?828bd846528fa609721f2b5e1887f1b8") format("woff2"),
url("./flaticon.eot?828bd846528fa609721f2b5e1887f1b8#iefix") format("embedded-opentype"),
url("./flaticon.svg?828bd846528fa609721f2b5e1887f1b8#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "play": "\f101",
    "fast-forward": "\f102",
    "right-arrow": "\f103",
    "next": "\f104",
    "down-arrow": "\f105",
    "agriculture": "\f106",
    "personal": "\f107",
    "loan": "\f108",
    "loan-1": "\f109",
    "loan-2": "\f10a",
    "loan-3": "\f10b",
    "loan-4": "\f10c",
);

.flaticon-play:before {
    content: map-get($flaticon-map, "play");
}
.flaticon-fast-forward:before {
    content: map-get($flaticon-map, "fast-forward");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-next:before {
    content: map-get($flaticon-map, "next");
}
.flaticon-down-arrow:before {
    content: map-get($flaticon-map, "down-arrow");
}
.flaticon-agriculture:before {
    content: map-get($flaticon-map, "agriculture");
}
.flaticon-personal:before {
    content: map-get($flaticon-map, "personal");
}
.flaticon-loan:before {
    content: map-get($flaticon-map, "loan");
}
.flaticon-loan-1:before {
    content: map-get($flaticon-map, "loan-1");
}
.flaticon-loan-2:before {
    content: map-get($flaticon-map, "loan-2");
}
.flaticon-loan-3:before {
    content: map-get($flaticon-map, "loan-3");
}
.flaticon-loan-4:before {
    content: map-get($flaticon-map, "loan-4");
}
